#root {
    margin: 0;
}

.header {
    position: sticky;
    top: 0;
    height: 3.5rem;
    width: 25%;
    background-color: transparent;
    padding-top: 20px;
}

.logo-container {
    background-image: url('../assets/logo.png');
    height: 50px;
    width: 360px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 20px;
    animation: slide-down 1s ease-out;
    animation-fill-mode: forwards;
    will-change: slide-down;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-80%);
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.bot_container {
    position: fixed;
    bottom: 13px;
    right: 21px;
    height: 95px;
    width: 95px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bot_logo {
    background-image: url('../assets/11431335.webp');
    filter: drop-shadow(0 0 2em #646cffaa);
    animation: bounceInRight 1.5s;
}

@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }
    60% {
        opacity: 1;
        transform: translateX(-30px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

.bigBot {
    animation-name: zoomIn, wave-animation;;
    -webkit-animation-name: zoomIn, wave-animation;
    animation-iteration-count: 1, 2;
    animation-duration: 1s, 2s;
    animation-delay: 0s, 2s;
}

@keyframes zoomIn {
    0% {transform: scale(0, 0);}
    100% {transform: scale(1, 1);}
}

@keyframes wave-animation {
    0% {transform: rotate(0.0deg)}
    10% {transform: rotate(-24.0deg)}
    20% {transform: rotate(10.0deg)}
    30% {transform: rotate(-14.0deg)}
    40% {transform: rotate(4.0deg)}
    50% {transform: rotate(-14.0deg)}
    60% {transform: rotate(0.0deg)}
    100% {transform: rotate(0.0deg)}
}

.copyright{
    position: fixed;
    bottom: 13px;
    left: 33px;
    height: 40px;
    width: 200px;
    animation: slide-up 1s ease-out;
    animation-fill-mode: forwards;
    will-change: slide-up;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

